$color-primary: rgb(58, 177, 155);
$color-primary-dark: rgb(31, 99, 87);
$color-primary-light: rgb(83, 253, 221);

$color-reddit-orangeRed: rgb(255, 69, 1);
$color-youtube-red: rgb(254, 2, 2);
$color-spotify-green: rgb(30, 215, 96);
$color-spotify-dark-green: rgb(11, 86, 38);

$color-background: rgb(231, 230, 230);
$color-border-gray: rgb(188, 188, 188);
$color-border-light-gray: rgb(247, 247, 247);

$color-icon: #656565;
$color-white: #FFF;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 2rem;
$padding-xl: 5rem;

$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 2rem;
$margin-xl: 5rem;

$font-small: 12px;
$font-medium: 18px;
$font-large: 26px;
$font-xlarge: 32px;
